<div class="flex flex-col md:flex-row flex-wrap rounded-md overflow-clip">
    <div class="bg-primary text-white grow p-8 flex flex-col gap-2">
      <p class="font-bold text-xl">Kontakt</p>
      <p>Eggenstraße 4<br>3730 Eggenburg</p>
      <div>
        <p><span class="font-bold">Tel.:</span> +43 2984/4757</p>          
        <p><span class="font-bold">Fax.:</span> +43 2984/4757 27</p>
        <p><span class="font-bold">E-Mail:</span> office&#64;internistenzentrum.at</p>
      </div>
      

    </div>
    <!-- Kontakt/Öffnungszeiten -->
    <div class="bg-white text-primary grow flex flex-col gap-2 p-8">
      <p class="font-bold text-xl">Ordinationszeiten</p>
      <div>
        <p><span class="font-bold">Mo.:</span> 08:00-13:00, 14:00-19:00</p>          
        <p><span class="font-bold">Di.:</span> 08:00-13:00, 14:00-17:00</p>
        <p><span class="font-bold">Mi.:</span> 11:00-12:00</p>
        <p><span class="font-bold">Do.:</span> 08:00-10:00</p>
      </div>
    </div>
  </div>