<div class="content-container flex flex-col gap-4 pt-16">
  <h2 class="text-3xl font-bold text-primary">Links</h2>
  <h3 class="text-xl font-bold text-primary no-underline">
    Medizinische Links
  </h3>

  <div class="text-primarytext underline">
    <a class="block" href="https://www.ig-endoskopie.at/" target="_blank"
      >IG Endoskopie</a
    >
    <a class="block" href="https://www.karl-landsteiner.at/" target="_blank"
      >Karl Landsteiner Gesellschaft</a
    >
    <a class="block" href="https://www.oeggh.at/" target="_blank"
      >Österreichische Gesellschaft für Gastroenterologie und Hepatologie
      (ÖGGH)</a
    >
    <a class="block" href="https://www.eubogh.org/" target="_blank"
      >The European Section and Board of Gastroenterology and Hepatology</a
    >
    <a class="block" href="https://horn.lknoe.at/" target="_blank"
      >Landesklinikum Horn</a
    >
    <a class="block" href="https://www.aerztekammer.at/" target="_blank"
      >Österreichische Ärztekammer</a
    >
    <a class="block" href="https://www.arztnoe.at/" target="_blank"
      >Ärztekammer für Niederösterreich</a
    >
    <a
      class="block"
      href="https://www.gesundheitskasse.at/cdscontent/?contentid=10007.866742&portal=oegkportal"
      target="_blank"
      >Österreichische Gesundheitskasse</a
    >
  </div>
  <h3 class="text-xl font-bold text-primary">Allgemeine Links</h3>

  <div class="text-primarytext underline">
    <a class="block" href="https://www.eggenburg.gv.at/" target="_blank"
      >Stadtgemeinde Eggenburg</a
    >
  </div>
</div>
