<div class="content-container flex flex-col gap-4 pt-16">
  <h2 class="text-3xl font-bold text-primary">Links</h2>
  <h3 class="text-xl font-bold text-primary no-underline">
    Medizinische Links
  </h3>

  <div class="text-primarytext underline">
    <a class="block" href="https://www.ig-endoskopie.at/">IG Endoskopie</a>
    <a class="block" href="https://www.karl-landsteiner.at/"
      >Karl Landsteiner Gesellschaft</a
    >
    <a class="block" href="https://www.oeggh.at/"
      >Österreichische Gesellschaft für Gastroenterologie und Hepatologie
      (ÖGGH)</a
    >
    <a class="block" href="https://www.eubogh.org/"
      >The European Section and Board of Gastroenterology and Hepatology</a
    >
    <a class="block" href="https://horn.lknoe.at/">Landesklinikum Horn</a>
    <a class="block" href="https://www.aerztekammer.at/"
      >Österreichische Ärztekammer</a
    >
    <a class="block" href="https://www.arztnoe.at/"
      >Ärztekammer für Niederösterreich</a
    >
    <a
      class="block"
      href="https://www.gesundheitskasse.at/cdscontent/?contentid=10007.866742&portal=oegkportal"
      >Österreichische Gesundheitskasse</a
    >
  </div>
  <h3 class="text-xl font-bold text-primary">Allgemeine Links</h3>

  <div class="text-primarytext underline">
    <a class="block" href="https://www.eggenburg.gv.at/"
      >Stadtgemeinde Eggenburg</a
    >
  </div>
</div>
