<div class="content-container flex flex-col gap-4 pt-16">
  <h2 class="text-3xl font-bold text-primary">Kontakt</h2>
  <div>
    <h3 class="text-xl text-secondary font-bold">Medieninhaber</h3>
    <p class="text-lg text-primarytext">
      Gruppenpraxis für Innere Medizin<br />
      MR Dr. Gerald Oppeck &amp; Dr. Karoline Walchetseder
    </p>
  </div>
  <app-general-info></app-general-info>
  <div>
    <h3 class="text-xl text-secondary font-bold">Berufsbezeichnung</h3>
    <p class="text-lg text-primarytext">Fachärzte für Innere Medizin</p>
  </div>

  <div>
    <h3 class="text-xl text-secondary font-bold">Haftungsausschluss</h3>
    <p class="text-lg text-primarytext">
      Es wird darauf hingewiesen, dass sämtliche Inhalte mit größtmöglicher
      Sorgfalt erstellt wurden, aber insbesondere auf Inhalte von verlinkten
      Seiten kein Einfluss genommen werden kann und daher auch keine Haftung
      dafür übernommen werden kann. Die bereitgestellten Informationen auf
      dieser Website wurden sorgfältig geprüft, jedoch kann keine Garantie dafür
      übernommen werden, dass alle Angaben zu jeder Zeit vollständig, richtig
      und in letzter Aktualität dargestellt sind.
    </p>
  </div>
</div>
