<div class="flex flex-col pb-16">
  <div class="bg-primary flex flex-col items-center">
    <div class="md:w-4/5 p-16 flex flex-col lg:flex-row gap-4 items-center">
      <div class="">
        <h1 class="text-5xl font-extrabold bg-primary text-white">
          Gruppenpraxis für Innere Medizin MR Dr. Gerald Oppeck & Dr. Karoline
          Walchetseder
        </h1>
        <h4 class="text-xl font-bold text-white">
          Nach der Philosophie: In Respekt den Anderen ernst nehmen, dem
          Grundsatz der Nächstenliebe verpflichtet.
        </h4>
      </div>
    </div>
  </div>
  <div class="content-container text-lg flex flex-col gap-8">
    <div class="flex flex-col gap-8 items-center">
      <p class="text-primarytext">
        <span class="font-bold text-secondary"
          >Herzlich Willkommen in der Gruppenpraxis für Innere Medizin MR Dr.
          Gerald Oppeck & Dr. Karoline Walchetseder!</span
        ><br />
        <!-- Unsere engagierten Ärzte, OA MR Dr. Gerald Oppeck und OÄ Dr. Karoline Walchetseder, MSc, heißen Sie herzlich in unserer modernen und patientenorientierten Praxis willkommen. Mit langjähriger Erfahrung und einem umfassenden medizinischen Fachwissen bieten wir Ihnen eine erstklassige medizinische Versorgung im Bereich der Inneren Medizin. -->
        Unsere Leistungen umfassen die Diagnose, Behandlung und Prävention
        verschiedener internistischer Erkrankungen. Dabei legen wir großen Wert
        auf eine individuelle Betreuung, bei der Ihre persönlichen Bedürfnisse
        im Mittelpunkt stehen. In einem vertrauensvollen Gespräch nehmen wir uns
        Zeit für Sie, um gemeinsam die bestmögliche Therapie für Ihre Gesundheit
        zu finden.<br />
      </p>
      <p class="text-primarytext">
        Unsere Praxis ist mit modernster Technologie ausgestattet, um eine
        präzise Diagnostik und effiziente Behandlung sicherzustellen. Wir bieten
        ein breites Spektrum an Untersuchungen, von EKG, Ultraschall, Endoskopie
        bis hin zu Laboruntersuchungen an. Damit ermöglichen wir eine
        ganzheitliche medizinische Betreuung auf höchstem Niveau.<br />
        Als Team verstehen wir uns nicht nur als medizinische Begleiter, sondern
        auch als Partner in Ihrer Gesundheitsvorsorge. Unser Ziel ist es, Ihnen
        eine angenehme Atmosphäre zu bieten, in der Sie sich gut aufgehoben
        fühlen. Wir legen großen Wert auf eine transparente Kommunikation und
        informieren Sie umfassend über Ihre individuelle
        Gesundheitssituation.<br />
      </p>
      <!-- Todo: Position this image properly -->
      <img
        src="assets/images/oppeck_walchetseder.webp"
        alt="Dr. Oppeck und Dr. Walchetseder"
        class="h-[33rem] object-cover rounded-md"
      />
      <p class="text-primarytext">
        Wir freuen uns, Sie in unserer Ordination begrüßen zu dürfen.
        Vereinbaren Sie gerne einen Termin, um von unserem medizinischen
        Fachwissen und unserer persönlichen Betreuung zu profitieren.<br />
        Ihre Gesundheit liegt uns am Herzen!<br />
        <span class="font-bold text-secondary"
          >OA MR Dr. Gerald Oppeck, OÄ Dr. Karoline Walchetseder, MSc und das
          gesamte Ordinationsteam</span
        >
      </p>
      <img
        src="assets/images/logo.webp"
        alt="Logo, Walchetseder&Oppeck"
        class="aspect-square h-96 w-96 rounded-md"
      />
    </div>

    <app-general-info></app-general-info>
    <div
      class="bg-white rounded-md overflow-clip w-full max-h-screen aspect-square md:aspect-auto md:h-96 mx-auto"
    >
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5272.481499643023!2d15.815429977093572!3d48.643509415803514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4772a103e6ecc24f%3A0x88b9c2557f5a1556!2sGruppenpraxis%20f%C3%BCr%20Innere%20Medizin%20MR%20Dr.%20Gerald%20Oppeck%20%26%20Dr.%20Karoline%20Walchetseder%20GmbH!5e0!3m2!1sde!2sat!4v1737906404155!5m2!1sde!2sat"
        style="border: 0; width: 100%; height: 100%"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
