<div class="flex flex-col gap-8 pb-16">
  <div class="bg-primary flex flex-col items-center">
    <div class="md:w-4/5 p-16 flex flex-col md:flex-row gap-4 items-center">
      <img
        src="assets/images/logo.webp"
        alt="Logo, Walchetseder&Oppeck"
        class="w-full aspect-square md:h-48 md:w-48 order-1 rounded-md"
      />

      <div class="md:order-2">
        <h1 class="text-5xl font-extrabold bg-primary text-white ">
          Gruppenpraxis für Innere Medizin MR Dr. Gerald Oppeck & Dr. Karoline
          Walchetseder
        </h1>
        <h4 class="text-xl font-bold text-white">
          Nach der Philosophie: In Respekt den Anderen ernst nehmen, dem
          Grundsatz der Nächstenliebe verpflichtet.
        </h4>
      </div>
    </div>
  </div>
  <div class="content-container text-primary text-lg flex flex-col gap-8">

    <div class="flex flex-col gap-8 items-center">
      <p class="">
        <span class="font-bold">Herzlich Willkommen in der Gruppenpraxis für Innere Medizin MR Dr. Gerald Oppeck & Dr. Karoline Walchetseder!</span><br>
        <!-- Unsere engagierten Ärzte, OA MR Dr. Gerald Oppeck und OÄ Dr. Karoline Walchetseder, MSc, heißen Sie herzlich in unserer modernen und patientenorientierten Praxis willkommen. Mit langjähriger Erfahrung und einem umfassenden medizinischen Fachwissen bieten wir Ihnen eine erstklassige medizinische Versorgung im Bereich der Inneren Medizin. -->
        Unsere Leistungen umfassen die Diagnose, Behandlung und Prävention verschiedener internistischer Erkrankungen. Dabei legen wir großen Wert auf eine individuelle Betreuung, bei der Ihre persönlichen Bedürfnisse im Mittelpunkt stehen. In einem vertrauensvollen Gespräch nehmen wir uns Zeit für Sie, um gemeinsam die bestmögliche Therapie für Ihre Gesundheit zu finden.<br>
      </p>
      <p class="">
        Unsere Praxis ist mit modernster Technologie ausgestattet, um eine präzise Diagnostik und effiziente Behandlung sicherzustellen. Wir bieten ein breites Spektrum an Untersuchungen, von EKG, Ultraschall, Endoskopie bis hin zu Laboruntersuchungen an. Damit ermöglichen wir eine ganzheitliche medizinische Betreuung auf höchstem Niveau.<br>
        Als Team verstehen wir uns nicht nur als medizinische Begleiter, sondern auch als Partner in Ihrer Gesundheitsvorsorge. Unser Ziel ist es, Ihnen eine angenehme Atmosphäre zu bieten, in der Sie sich gut aufgehoben fühlen. Wir legen großen Wert auf eine transparente Kommunikation und informieren Sie umfassend über Ihre individuelle Gesundheitssituation.<br>
      </p>
      <p>  
        Wir freuen uns, Sie in unserer Ordination begrüßen zu dürfen. Vereinbaren Sie gerne einen Termin, um von unserem medizinischen Fachwissen und unserer persönlichen Betreuung zu profitieren.<br>
        Ihre Gesundheit liegt uns am Herzen!<br>
        <span class="font-bold">OA MR Dr. Gerald Oppeck, OÄ Dr. Karoline Walchetseder, MSc und das gesamte Ordinationsteam</span>
      </p>
      <!-- Todo: Position this image properly -->
      <img src="assets/images/oppeck_walchetseder.webp" alt="Dr. Oppeck und Dr. Walchetseder" class="h-[33rem] object-cover rounded-md">

    </div>
    
      <div class="flex flex-col md:flex-row flex-wrap rounded-md overflow-clip">
        <div class="bg-primary text-white grow p-8 flex flex-col gap-2">
          <p class="font-bold text-xl">Kontakt</p>
          <p>Eggenstraße 4<br>3730 Eggenburg</p>
          <div>
            <p><span class="font-bold">Tel.:</span> +43 2984/4757</p>          
            <p><span class="font-bold">Fax.:</span> +43 2984/4757 27</p>
            <p><span class="font-bold">E-Mail:</span> office&#64;internistenzentrum.at</p>
          </div>
          

        </div>
        <!-- Kontakt/Öffnungszeiten -->
        <div class="bg-white text-primary grow flex flex-col gap-2 p-8">
          <p class="font-bold text-xl">Ordinationszeiten</p>
          <div>
            <p><span class="font-bold">Mo.:</span> 08:00-13:00, 14:00-19:00</p>          
            <p><span class="font-bold">Di.:</span> 08:00-13:00, 14:00-17:00</p>
            <p><span class="font-bold">Mi.:</span> 11:00-12:00</p>
            <p><span class="font-bold">Do.:</span> 08:00-10:00</p>
          </div>
        </div>
      </div>
      <div class="bg-white rounded-md overflow-clip w-full md:w-1/2 max-h-screen aspect-square mx-auto">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5272.481499643023!2d15.815429977093572!3d48.643509415803514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4772a103e6ecc24f%3A0x88b9c2557f5a1556!2sGruppenpraxis%20f%C3%BCr%20Innere%20Medizin%20MR%20Dr.%20Gerald%20Oppeck%20%26%20Dr.%20Karoline%20Walchetseder%20GmbH!5e0!3m2!1sde!2sat!4v1737906404155!5m2!1sde!2sat" style="border:0;width: 100%; height: 100%;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>

  
</div>
